{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "jsxPragma": "h"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}
